@media screen and (max-width:1175px){
    #what_we_do{
        .section_content-wrap{
            flex-wrap: wrap;
        }
    }
    .img_wrap img{
        width: 100%;
    }
    .text_wrap-left, .text_wrap-right{
        padding: 56px 0 0 0;
    }
    .slider_item{
        font-size: 65px;
        line-height: 65px;
    }
    #home .scroll {
            left: 49%;
            bottom: 30px;
    }

}
@media screen and (max-width:970px){
    .nav-wrap{
        .logo{
            margin-right: 40px;
        }
        .nav{
            &_list{
                &-item{
                    margin-right: 10px;
                }
            }
        }
    }
    .list_item-link{
        letter-spacing: 0.5px;
        &::before{
            display: none;
        }
    }
    .soc_list-item{
        margin-left: 8px;
    }
}
@media screen and (max-width:900px){
    #home .slider .slider_item{
        background: url(../images/jpeg/main_fon@900.png) no-repeat;
    }
    #latest_news{
        background: url(../images/jpeg/news_fon@900.png) no-repeat;
    }
    #footer{
        background: url(../images/jpeg/footer_fon@900.png) no-repeat;
    }
}
@media screen and (max-width:830px){
    .nav-wrap .logo img{
        width: 80%;
    }
    #what_we_do{
        padding: 64px 0 0 0;
        .section_inner-first{
            margin-bottom: 100px;
        }
        .section_inner{
            margin-bottom: 70px;
        }
    }
    #latest_news{
        padding: 75px 0;
    }
    #gallery{
        padding: 75px 0;
    }
    .nav-wrap .logo{
        margin-right: 0;
    }
    .list_item-link{
        letter-spacing: 0.1px;
    }
}
@media screen and (max-width:755px) {
    .nav {
        display: none;
    }
    .hamburger {
        display: block;
    }
    .nav-wrap{
        justify-content: space-between;
    }
    .info_wrap{
        flex-wrap: wrap;
    }
    .info_list{
        text-align: center;
    }
    .btn-wrap{
        justify-content: center;
    }
    #footer{
        padding: 404px 0 30px;
    }
    .slider_item h2{
        font-size: 40px;
        line-height: 40px;
    }
    #gallery, #latest_news{
        padding: 75px 0 35px;
    }
    .main_img .plus::before{
        line-height: 30px;
        width: 30px;
        height: 30px;
    }
    .card{
        height: 564px;
    }
}
@media screen and (max-width:640px){
    #home .slider .slider_item{
        background: url(../images/jpeg/main_fon@640.png) no-repeat;
    }
    #latest_news{
        background: url(../images/jpeg/news_fon@640.png) no-repeat;

    }
    #get_in_touch{
        background:url(../images/jpeg/get_in_touch_fon@640.png) no-repeat;
    }
    #footer{
        background: url(../images/jpeg/footer_fon@640.png) no-repeat;
    }
}
@media screen and (max-width:530px){
    .slider_item{
        h2{
        font-size: 30px;
        line-height: 30px;
        }
        h3{
            font-size: 12px;
            letter-spacing: 2px;
        }
    }
    #what_we_do .section_fheader {
        margin-bottom: 100px;
        position: relative;
    }
    #what_we_do .section_fheader::before{
        left: 40.5%;
    }
    #latest_news .section_header{
        margin-bottom: 54px;
    }
    #gallery .section_header::before {
        left: 40.5%;
    }
    #gallery .section_header{
        margin-bottom: 54px;
    }
    .section_header{
        font-size: 30px;
        line-height: 30px;
    }
    #latest_news .section_header::before{
        left: 40.5%;
    }
    .card{
        height: 564px;
    }
    #get_in_touch .section_header::before{
        left: 39.5%;
    }
    .info_list .info_li{
        margin-bottom: 15px;
    }
    #footer {
        padding: 304px 0 30px;
    }
    #latest_news .section_header{
        width: 90%;
    }
    #footer .footer_info-wrap{
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width:480px){
    #home .slider .slider_item{
        background: url(../images/jpeg/main_fon@480.png) no-repeat;
    }
    #latest_news{
        background: url(../images/jpeg/news_fon@480.png) no-repeat;
    }
    #get_in_touch{
        background:url(../images/jpeg/get_in_touch_fon@480.png) no-repeat;
    }
    #footer{
        background: url(../images/jpeg/footer_fon@480.png) no-repeat;
    }
    #get_in_touch {
        padding: 45px 12px 37px;
    }
    #gallery .section_header::before{
        left: 33.5%;
    }
    #latest_news .section_header::before{
        left: 33.5%;
    }
    #gallery .section_header::before {
        left: 33.5%;
    }
    #what_we_do .section_fheader::before{
        left: 33.5%;
    }
    #get_in_touch .section_header::before{
        left: 33.5%;
    }
}

@media screen and (max-width:390px){
    .card{
        height: 474px;
    }
}