@import url(_reset.scss);
@import url(social_icons.scss);
// подключить шрифты
@font-face {
    font-family: 'GothamBook';
    src: url('../fonts/GothamBook.woff2') format('woff2'),
         url('../fonts/GothamBook.woff') format('woff');
    font-weight: 350;
    // font-style: normal;
  }
@font-face {
    font-family: 'GothamBold';
    src: url('../fonts/gothambold.woff2') format('woff2'),
         url('../fonts/gothambold1.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'GothamMedium';
    src: url('../fonts/gotham-medium-webfont.woff2') format('woff2'),
         url('../fonts/gotham-medium-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'lg';
    src: 
    url('../fonts/lg.woff2') format('woff2'),
    url('../fonts/lg.woff') format('woff');
    font-style: normal;
}


// написать миксин для шрифта
// написать переменные, вынести их в отдельный файл - цвета или повторяющееся фрагменты
$base_font:16;
$base_color:#fff;
$box_shadow_color:#999;
$bg_color_fixed:rgba(132, 157, 241, 0.9);
$hover_color:#7d5dfa;
$base_transp_color:rgba(255, 255, 255, .8);
$nav_block_color:rgba(112, 82, 171, 0.7);
$border_list_color:#a75ada;
$header2_color:#2c4058;
$after_color:#55b7ff;
$vio_after_color:#7e5aff;
$section_p_color:#4b5562;
$border_color:rgba(44, 64, 88, .9);
@mixin fz($rem){
    font-size: ($rem/$base_font)+rem;
}
html{
    font-size: 16px;
}
a{
    text-decoration: none;
}
.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1170px;
}
main {
    width: 100%;
}
.df{
    display: flex;
}
#home{
    .lSSlideOuter .lSPager.lSpg {
        position: absolute;
        right: 2%;
        top: 35%;
    }
    .lSSlideOuter .lSPager.lSpg > li{
        display: block;
        margin-bottom: 34px; 
        a{
            background-color: transparent;
            border: 2px solid $base_color;
            border-radius: 30px;
            display: inline-block;
            height: 9px;
            overflow: hidden;
            text-indent: -999em;
            width: 9px;
            position: relative;
            z-index: 99;
            transition: all 0.5s linear 0s;
        }
    }
    .lSSlideOuter .lSPager.lSpg .active a{
        background-color: $base_color;
    }
}

header{
    // padding: 53px;
    width: 100%;
    height: 130px;
    max-width: inherit;
    z-index: 100;
    transition: all .2s ease;
    // background-color: #efefef;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 30px;
    .container{
        height: 100%;
    }
}
.fixed{
    height: 60px;
    box-shadow: 0 0 3px $box_shadow_color;
    background-color: $bg_color_fixed;
    backdrop-filter: blur(3px);
    padding-top: 0;
}
.hamburger {
    display: none;
}
#nav_shadow{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $base_transp_color;
    display: none;
    backdrop-filter: blur(3px);
    z-index: 100;
}

#mobile_nav_block {
    position: fixed;
    top: 0;
    left: -110%;
    height: 100%;
    width: 100%;
    max-width: 400px;
    background-color: $nav_block_color;
    z-index: 101;
    transition: all .4s ease;
    box-shadow: 0 0 5px #000;
    .mob_header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        height: 75px;
    }
}
.open #nav_shadow {
    display: block;
}
.open #mobile_nav_block{
    left: 0;
}
.mobile_nav {
    height: calc(100% - 80px);
    // overflow-y: scroll;
    background-color: rgba(249, 248, 251, .7);
    .m_list_item {
        border-bottom: 3px solid $border_list_color;
        .m_list_item-link {
            display: inline-block;
            padding: 15px;
            @include fz(18);
            line-height: 24px;
            text-decoration: none;
            text-transform: uppercase;
            color: #262626;
            width: 100%;
            transition: all .7s ease;
            &:hover{
                background-color: rgba(193, 178, 223, 0.7);
            }
        }
    }
}
.nav-wrap {
    // justify-content: space-between;
    height: 100%;
    align-items: center;
    .logo{
        margin-right: 80px;
        img{
            width: 100%;
            object-fit: cover;
        }

    }
    .nav{
        flex: 1;
        // width: 50%;
        &_list{
            justify-content: space-between;
            align-items: center;
            width: 100%;
            &-item{
                margin-right: 25px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}
.list_item-link {
    color: $base_color;
    text-transform: uppercase;
    @include fz(14);
    font-family: 'GothamBook', sans-serif;
    letter-spacing: 1px;
    position: relative;
    line-height: 14px;
    transition:  all 3s ease;
    &::before{
        content: '';
        display: inline-block;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid $base_color;
        position: absolute;
        left: -24px;
        top: 0;
        transition:  all 1.5s ease;
    }
    &:hover{
        border-bottom: 2px solid $base_color;
        transition:  all 1.5s ease;
        &::before{
            background-color: $base_color;
        }
    }
}
.soc_list-item{
    margin-left: 8px;
    .soc_item-link{
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border-radius: 50%;
        border: 2px solid $base_color;
        line-height: 38px;
        text-align: center;
        color: $base_color;
        transition:  all 1s ease;
        &:hover{
            background-color: $base_color;
            color: $hover_color;
        }
    }
}

.scroll {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid $base_color;
    position: absolute;
    z-index: 99;
    cursor: pointer;
    &:after{
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        background: transparent;
        border-right: 2px solid $base_color;
        border-bottom: 2px solid $base_color;
        position: absolute;
        left: 42%;
        top: 34%;
        transform: rotate(45deg);
        // поправить позицию по пп
    }
    &:hover{
        background-color: $base_color;
        &:after{
            border-right: 2px solid $hover_color;
            border-bottom: 2px solid $hover_color;
        }
    }
}
#home{
    position: relative;
    .slider{
        height: 100%;
        .slider_item{
            width: 100%;
            background: url(../images/jpeg/main_fon.png) no-repeat;
            background-size: cover;
            height: 100vh;
            max-height: 800px;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
    .scroll {
        left: 49%;
        bottom: 50px;
    }
}
.slider_item{
    h2{
        padding-top: 44px;
        font-family: 'GothamBold', sans-serif;
        @include fz(80);
        line-height: 80px;
        text-transform: uppercase;
        color: $base_color;
        letter-spacing: 2px;
        margin-bottom: 30px;
        text-align: center;
    }
    h3{
        font-family: 'GothamBook', sans-serif;
        font-weight: 350;
        @include fz(18px);
        letter-spacing: 5px;
        text-transform: uppercase;
        color: $base_color;
        text-align: center;
    }
}


#what_we_do{
    // height: auto;
    background-color: $base_color;
    padding: 134px 0 0 0;
    overflow-x: hidden;
    .section_fheader{
        margin-bottom: 165px;
        position: relative;
        &::before{
            content: '';
            display: block;
            position: absolute;
            width: 100px;
            border-top: 2px solid $header2_color;
            left: 45.6%;
            top: -34px;
        }
    }
    .section_content-wrap{
        h3{
            margin-bottom: 8px;
        }
        .section_header{
            margin-bottom: 28px;
        }
    }
    .button{
        margin-bottom: 52px;
    }
}
.section_header{
    font-family: 'GothamBold', sans-serif;
    @include fz(44px);
    text-transform: uppercase;
    line-height: 44px;
    color:$header2_color;
    text-align: center;
    position: relative;
    margin-bottom: 36px;
}

.img_wrap{
    background-color: #cfe4f1;
    position: relative;
    z-index: 2;
    margin-right: -1px;
    width: 100%;
    height: 100%;
    img{
        object-fit: cover;
    }
    &-blue::after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: -70px;
        left: -42%;
        background-color: $after_color;
        z-index: -1;
    }
    &-violet::after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: -70px;
        right: -42%;
        background-color: $vio_after_color;
        z-index: -1;
    }
}

h3{
    font-family: 'GothamBook', sans-serif;
    color: $header2_color;
    @include fz(22);
    text-transform: uppercase;
    line-height: 22px;
    // margin-bottom: 16px;
}
.text_wrap-left {
    padding: 56px 0 0 70px;
    .section_header{
        text-align: left;
    }
}
.text_wrap-right{
    padding: 56px 70px 0 0;
    .section_header{
        text-align: left;
    }
}
.section_p{
    font-family: 'OpenSans', sans-serif;
    @include fz(18);
    color: $section_p_color;
    line-height: 30px;
    margin-bottom: 30px;
}
.rev{
    flex-direction: row-reverse;
}
#what_we_do{
    .section_inner{
        margin-bottom: 140px;
    }
    .section_inner-first{
        margin-bottom: 210px;
    }
}
.button {
    margin-bottom: 40px;
    a{
        display: inline-block;
        text-decoration: none;
        font-family: 'GothamBook',sans-serif;
        @include fz(14);
        letter-spacing: .5px;
        line-height: 14px;
        color: $header2_color;
        text-transform: uppercase;
        background-color: $base_color;
        padding: 18px 36px;
        cursor: pointer;
        transition: all .9s ease;
        position: relative;
        overflow: hidden;
        z-index: 2;
        border: 1px solid $header2_color;
        &:after {
            content:'';
            position: absolute;
            top: 0;
            left: -20%;
            width: 0%;
            height: 100%;
            background-color: $border_color;
            transition: all 1.2s ease;
            transform: skew(-45deg);
            z-index: -1;
        }
        &:hover{
            color: $base_color;
            border: 1px solid $border_color;
            &:after {
                width: 150%;
            }
        }
    }

}
.address_span{
    color: $header2_color;
    font-family: 'GothamBook', sans-serif;
    font-style: italic;
    @include fz(18);
}
#latest_news{
    width: 100%;
    background: url(../images/jpeg/news_fon.png) no-repeat;
    background-size: cover;
    padding: 175px 0 135px;
    ul{
        margin-block-end: -1px;//Для пп
    }
    .lSSlideOuter {
        position: relative;
        overflow: visible;
    }
    .lSSlideWrapper {
        position: static;
    }
    .lSAction > .lSPrev {
        left: -7%;
        top: 44%;
    }
    .lSAction > .lSNext {
        right: -7%;
        top: 44%;
    }
    .section_header{
        color: $base_color;
        margin-bottom: 93px;
        font-family: 'GothamMedium', sans-serif;
        font-weight: 400;
        letter-spacing: .1px;
        position: relative;
        &::before{
            content: '';
            display: block;
            position: absolute;
            width: 100px;
            border-top: 1px solid $base_color;
            left: 45.5%;
            top: -36px;
        }
    }
    .lSSlideOuter .lSPager.lSpg > li{
        margin-top: 58px;
        margin-right: 30px;
        &:last-child{
            margin-right: 0;
        }
        a{
            background-color: transparent;
            border: 2px solid $base_color;
            border-radius: 30px;
            display: block;
            height: 9px;
            overflow: hidden;
            text-indent: -999em;
            width: 9px;
            position: relative;
            z-index: 99;
            transition: all 0.5s linear 0s;
        }
    }
    .lSSlideOuter .lSPager.lSpg .active a{
        background-color: $base_color;
    }
}
.card{
    height: 514px;
    background-color: $base_color;
    .card_image-wrap{
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    .card_content-wrap{
        padding: 21px 20px;
        flex-direction: column;
        height: 100%;
        .section_p{
            height: 58px;
            overflow-y: hidden;
            line-height: 28px;
            font-family: 'OpenSans', sans-serif;
            font-weight: 400;
            color: $section_p_color;
        }
        h3{
            height: 75px;
            line-height: 34px;
            overflow-y: hidden;
            a{
                color: $header2_color;
            }
        }
    }  
}
.author_wrap{
    .author_photo-wrap{
        margin-right: 15px;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    .author_info-wrap{
        h3{
            font-weight: 350;
            @include fz(18px);
            line-height: 36px;
            letter-spacing: .1px;
            height: auto;
        }
        .data_span{
            font-family: 'GothamBook';
            font-weight: 350;
            @include fz(14);
            color: $after_color;
        }
    }
}
#gallery{
    padding: 175px 0 97px 0;
    .section_header{
        font-family: 'GothamBook', sans-serif;
        line-height: 44px;
        margin-bottom:94px;
        letter-spacing: 0.1px;
        &::before{
            content: '';
            display: block;
            position: absolute;
            width: 100px;
            border-top: 2px solid $header2_color;
            left: 45.5%;
            top: -35px;
        }
    }
    .button{
        text-align: center;
        a{
            letter-spacing: 0;
            padding: 16px 56px;

        }
    }
}
.main_img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4);
    grid-gap: 10px;
    margin-bottom: 60px;
    .one{
        grid-column-start:1;
        grid-column-end:3;
        grid-row-start:1;
        grid-row-end:3;
            
    }
    .two{
        grid-column-start:3;
        grid-column-end:4;
    }
    .plus{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        &::before{
            content: '+';
            color: $base_color;
            line-height: 80px;
            @include fz(50);
            font-weight:100;
            text-align:center;
            display: block;
            position: absolute;
            width: 80px;
            height: 80px;
            border: 1px solid $base_color;
            border-radius: 50%;
            z-index: 99;
            opacity: 0;
            transition: all .6s ease;
        }
        &::after{
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba(132, 157, 241, .7);
            opacity: 0;
            z-index: 98;
            transition: all .6s ease;
        }
        &:hover{
            &::before{
                opacity: 1;
            }
            &::after{
                opacity: 1;
            }
        }
    }
    img{
        width: 100%;
        object-fit: cover;
    }
}
.contacts{
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.container-mini{
    width: 90%;
    max-width: 770px;
    margin: 0 auto;
}
#map{
    width: 100%;
    height: 700px;
    z-index: 99;
    margin: 0 auto;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #map_link{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top:0;
        background-color: rgba(132, 157, 241, 0.7);
        color: rgba(44, 64, 88, 1);
        text-align: center;
        line-height: 600px;
        @include fz(34);
        font-family: 'GothamBook', sans-serif;
        opacity: 0;
        transition: all .6s ease;
        &:hover{
            opacity: 1;
        }
    }
}
#get_in_touch{
    width: 90%;
    max-width: 770px;
    margin: 0 auto;
    padding: 85px 62px 37px;
    background:url(../images/jpeg/get_in_touch_fon.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 57%;
    z-index: 99;
    .section_header{
        font-family: 'GothamMedium';
        font-weight: 400;
        margin-bottom: 50px;
        &::before{
            content: '';
            display: block;
            position: absolute;
            width: 100px;
            border-top: 2px solid $header2_color;
            left: 42%;
            top: -25px;
        }
    }
    
}
.info_list{
    width:100%;
    .info_li{
        margin-bottom: 39px;
        .icon-location,.icon-phone,.icon-inbox,.icon-clock{
            color: $vio_after_color;
        }
        .info_span{
            color: $header2_color;
            font-family: 'GothamBook';
            font-weight: 350;
            @include fz(18);
            line-height: 18px;
        }
    }
}
.form_wrap{
    width: 100%;
    margin-left: 25px;
    .form_input{
        display: inline-block;
        text-align: start;
        background-color: transparent;
        cursor: text;
        font-family: 'GothamBook', sans-serif;
        @include fz(18);
        color: $border_color;
        line-height: 18px;
        border-width: 100%;
        border-style: none;
        border-bottom: 1px solid rgba(44, 64, 88, .2);
        padding: 0 0 16px 0;
        width: 100%;
        outline: 0;
        transition: all .7s ease;
        &:first-child{
            margin-bottom: 38px;
        }
        &::placeholder{
            color: rgba(44, 64, 88, .4);
        }
        &:focus{
            border-bottom: 1px solid $border_color;
        }
    }
    .form_btn{
        width: 45%;
        display: block;
        color: $header2_color;
        text-align: center;
        background-color: transparent;
        font: 350 14px 'GothamBook';
        line-height: 14px;
        text-transform: uppercase;
        padding: 20px 0;
        border: 1px solid $header2_color;
        box-shadow: none;
        transition: all .6s ease;
        outline: 0;
        &:active{
            box-shadow: 0 2px 5px 2px rgba(44, 64, 88, 0.9);
        }
        &:hover{
            box-shadow: 0 0 3px $box_shadow_color;
            background-color: $bg_color_fixed;
            border: none;
            color: $base_color;
        }
    }
}
.btn-wrap{
    justify-content: flex-end;
    margin-top: 24px;
}

#footer{
    background: url(../images/jpeg/footer_fon.png) no-repeat;
    background-size: cover;
    width: 100%;
    padding: 204px 0;
    .footer_info-wrap{
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .footer_copy-wrap{
        color: $base_color;
        line-height: 20px;
        font-family: 'GothamBook';
        font-weight: 350;
        @include fz(14);
        .footer_copy{
            padding: 0 20px 0 0;
            border-right: 1px solid $base_color;
        }
        .footer_made{
            padding: 0 0 0 20px;
        }
    }

}

@import url(_media.scss);